doctype html
html(lang="en")
    head
        title Restaurante
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(rel ="stylesheet" href="css/main.css")
        link(rel ="stylesheet"  href="css/animate.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico" rel="stylesheet")
    body
        section(class="full-height text-center" id="main-content")
            div(class="data")
                div(class="col-md-4 center-block quitar-float espacio-arriba")
                    img(src="Imagenes/fast%20food.jpg" alt="Logo" class="animated fadeIn")
                    h1(class="pacifico grande verde animated fadeIn retraso1") Comida Rápida
                    div(class="animated fadeInDown retraso2")
                        h2 La mejor comida del mundo
                        nav(class="mediano")
                            a(href="/menu" class="espacio-derecha") Menú
                            a(href="menu.html" class="espacio-derecha") Contacto
                            a(href="menu.html" class="espacio-derecha") Acerca de
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="js/main.js")
    
    