doctype html
html(lang="en")
    head
        title Restaurante
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(rel ="stylesheet" href="/css/main.css")
        link(rel ="stylesheet"  href="css/animate.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico" rel="stylesheet")
    body
        nav(class="se-gris padding-largo text-center mediano animated fadeInDown")
            ul(class="no-lista")
                li(class = "col-md-3 inline-block pacifico")
                    a(href="/" class="verde") Comida rápida
                li(class = "col-md-3 inline-block")
                    a(href="contacto.html") Contacto
                li(class = "col-md-3 inline-block")
                    a(href="") Acerca de
        block contenido