body {
    font-family: 'Lato', sans-serif;
}
img {
    max-width: 100%;
}
.quitar-float{
    float: none;
}
.espacio-arriba {
    margin-top: 60px;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}
.grande {
    font-size: 4em;
}
.verde {
    color: #00887C;
}
a,.azul {

    color: #009FFF;
}

.espacio-derecha{
    margin-right: 1em;
}
.no-lista li{
    list-style-type: none;
}

.no-lista {
    margin: 0px;
    padding: 0px;
}
.se-gris {
    background-color: #eee;
}
.padding-largo {
    padding: 5px 10px;
}
.inline-block {
    float: none;
    display: inline-block;
    margin-right: -4px;
}
.vete-arriba {
    vertical-align: top;
}
.mediano {
    font-size: 1.5em;
}
.retraso1 {
    -webkit-width: animation-delay: 1s;
    -moz-width: animation-delay: 1s;
    animation-delay: 1s;
}
.retraso2 {
    -webkit-width: animation-delay: 2s;
    -moz-width: animation-delay: 2s;
    animation-delay: 2s;
}