extends ../layout.jade
block contenido
    h2(class="text-center pacifico grande azul") Menú
    p(class="mediano text-center") Productos de calidad en tu mesa
    each producto in productos
        div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
            h3(class="pacifico")= producto.titulo
            img(src="#{producto.imagen.url}" class="col-xs-7 col-md-6 quitar-float")
            h3(class="lato")= producto.descripcion
            p(style="margin-top:1em;")
                small(class="lato small") #{producto.precio}L