extends ../layout.jade
block contenido
    div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
        h1 Agregar producto
        form(method="post" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
            div(class="form-group")
                label Nombre
                input(type="text" name="nombre" placeholder="Nombre del producto" class="form-control")
            div(class="form-group")
                label Descripci칩n
                textarea(name="descripcion" placeholder="Descripci칩n del producto" class="form-control")
            div(class="form-group")
                label Precio
                input(type="number" name="precio" placeholder="Precio del producto" class="form-control")
            div(class="form-group")
                label Imagen del producto
                input(type="file" name="imagen")
            div(class="form-group")
                label Contrase침a
                input(type="password" name="pass" placeholder="Contrase침a" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Guardar")